<?xml version="1.0" encoding="UTF-8" standalone="no"?><entities>
	<entity>
		<entity-name>com.rubenMadeira.spring.entity.Item</entity-name>
		<entity-width>120</entity-width>
		<entity-height>206</entity-height>
		<entity-X-Coordinate>660</entity-X-Coordinate>
		<entity-Y-Coordinate>38</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.rubenMadeira.spring.entity.Blog</entity-name>
		<entity-width>120</entity-width>
		<entity-height>186</entity-height>
		<entity-X-Coordinate>441</entity-X-Coordinate>
		<entity-Y-Coordinate>34</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.rubenMadeira.spring.entity.Role</entity-name>
		<entity-width>120</entity-width>
		<entity-height>146</entity-height>
		<entity-X-Coordinate>10</entity-X-Coordinate>
		<entity-Y-Coordinate>63</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>

	<entity>
		<entity-name>com.rubenMadeira.spring.entity.User</entity-name>
		<entity-width>120</entity-width>
		<entity-height>226</entity-height>
		<entity-X-Coordinate>225</entity-X-Coordinate>
		<entity-Y-Coordinate>33</entity-Y-Coordinate>
		<primary-collapsed>false</primary-collapsed>
		<relation-collapsed>false</relation-collapsed>
		<basic-collapsed>false</basic-collapsed>
	</entity>
</entities>